<table class='table table-hover table-inverse'>
    <thead>
        <tr>
            <th></th>
            <th>グループ名</th>
            <th>紹介文</th>
            <th>メンバー</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
      <td><%= image_tag group.get_group_image(100, 100) %></td>
      <td><%= group.name %></td>
      <td><%= group.introduction %></td>
      <td>
        <% members.each do |member| %>
          <p><%= member.name %></p>
        <% end %>
      </td>
      <td>
        <% if group.owner_id == current_user.id %>
          <%= link_to "Edit", class: "btn btn-success" %>
        <% elsif @my_record = group.group_users.find_by(user_id: current_user.id) %>
          <%= link_to "Leave this group", user_group_withdraw_path(current_user.id, group.id, @my_record.id), method:
         :delete, class: "btn btn-danger" %>
        <% else %>
          <%= link_to "Join this group", user_group_add_path(current_user.id, group.id), method: :post,
                      class: "btn btn-success" %>
        <% end %>
      </td>

    </tbody>
</table>